@import url('https://rsms.me/inter/inter-ui.css');


.App {
  font-family: 'Inter UI', sans-serif;
  padding: 0;
  max-width: 100%;
  margin: 0;
  box-shadow: none;
  font-weight: 400;
  overflow-x: hidden;
  background: rgba(196, 208, 203);
  box-sizing: border-box;
  color: #000;
}

header {
  font-size: 8vw;
  text-align: center;
  height: 20vh;
  margin: 10vh 0;
}

section.details {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row wrap;
  font-size: 2rem;
  line-height: 2.5rem;
  height: auto;
  overflow-y: scroll;
  margin: 0 auto;
}

section.details > * {
  flex: 1 100%;
  text-align: left;
  overflow-y: scroll;
}

section.details > .column {
  /* border: 1px solid white; */
  padding: 0 5vw;
}

.underline {
  text-decoration: underline;
}

@media all and (max-width: 600px) {

  .column {
    width: 100vw;
    margin: 0 auto;
    text-align: left;
  }

  section.choices > .left, section.choices > .right {
    width: 100vw;
    margin: 0 auto;
  }
}


@media all and (min-width: 600px) {
  .column { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .column-1 { order: 1; }
  .column-2 { order: 2; }
}


/* ====================================================================== */

section.choices {
  position: relative;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0 auto;
  background: rgba(196, 208, 203);
  height: auto;
  padding-bottom: 5vh;
}

.left, .right {
  padding: 8vh 5vw 2vh 5vw;
  width: 50vw;
  color: #000;
  overflow-y: scroll;
}

.right {
  /* color: #1DA4EF; */
}


.left:hover {

}

.right:focused {

}

a {
  color: #000;
}

.number {
  font-size: 4rem;
  display: block;
  position: relative;
  /* border: 1px solid; */
  margin-top: 5vh;
}



/* ====================================================================== */

.App-Fallback {
  font-family: 'Inter UI', sans-serif;
  padding: 0;
  max-width: 100%;
  margin: 0;
  box-shadow: none;
  font-weight: 400;
  overflow-x: hidden;
  background: #000;
  box-sizing: border-box;
}

.App-Fallback > header {
  font-size: 20vw;
  /* text-align: left; */
}

.App-Fallback > section.details {
  position: relative;
  text-align: center;
  display: flex;
  /* flex-direction: row wrap; */
  flex-flow: column wrap;
  font-size: 2rem;
  line-height: 2.5rem;
  height: auto;
  color: #fff;
  overflow-y: scroll;
  margin: 0 auto;
  padding-bottom: 5vh;
}


.App-Fallback > section.details > * {
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin: 2vh 2vw;
  width: 88vw;
}

.App-Fallback > section.details > .column.column-1 {
  order: 1;
}
.App-Fallback > section.details > .column.column-2 {
  order: 2;
}

.App-Fallback > section.choices {
  position: relative;
  /* text-align: center; */
  display: flex;
  flex-flow: column wrap;
  /* flex-direction: row; */
  font-size: 1.8rem;
  line-height: 2.3rem;
  background: #fff;
  margin: 0 auto;
}

.App-Fallback > section.choices  > * > img {
  display: none;
}

.App-Fallback > section.choices  > * {
  width: 88vw;
  margin-bottom: 0;
  height: auto;
  max-width: 100%;
}

.App-Fallback > section.choices  > * > button.tweet {
  width: 60vw;
  background: #fff;
}
