@import url('https://rsms.me/inter/inter-ui.css');


.App {
  font-family: 'Inter UI', sans-serif;
  padding: 0;
  max-width: 100%;
  margin: 0;
  box-shadow: none;
  font-weight: 400;
  overflow-x: hidden;
  background: #000;
  box-sizing: border-box;
}

header {
  font-size: 8vw;
  text-align: center;
  height: 20vh;
  margin: 10vh 0;
  color: #fff;
}

section.details {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row wrap;
  font-size: 2rem;
  line-height: 2.5rem;
  height: auto;
  color: #fff;
  overflow-y: scroll;
  margin: 0 auto;
  padding-bottom: 5vh;
}

section.details > * {
  flex: 1 100%;
  text-align: left;
  overflow-y: scroll;
}

section.details > .column {
  /* border: 1px solid white; */
  padding: 0 5vw;
}


@media all and (max-width: 600px) {

  .column {
    width: 100vw;
    margin: 0 auto;
    text-align: left;
  }

  section.choices > .left, section.choices > .right {
    width: 100vw;
    margin: 0 auto;
  }
}


@media all and (min-width: 600px) {
  .column { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .column-1 { order: 1; }
  .column-2 { order: 2; }
}


/* ====================================================================== */

section.choices {
  position: relative;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  line-height: 2.5rem;
  background: #fff;
  padding-left: 2vw;
}

.left {
  height: auto;
  padding-left: 2vw;
  padding-top: 8vh;
  padding-bottom: 2vh;
  border-right: 2px solid #000;
  width: 50vw;
  margin: auto;
  color: #000;
  overflow-y: scroll;
}

.right {
  height: auto;
  padding-left: 2vw;
  padding-top: 8vh;
  padding-bottom: 2vh;
    /* border-left: 2px solid #000; */
  width: 50vw;
  margin: auto;
  color: #1DA4EF;
  overflow-y: scroll;
}

.left-focused {
  z-index: 100;
  height: auto;
  padding-left: 2vw;
  padding-top: 8vh;
  padding-bottom: 2vh;
  transition: width 0.5s;
  width: calc(100vw - 6px);
  color: #000;
  /* height: 100vh; */
  overflow-y: scroll;
  border-right: 2px solid #000;
}

.right-focused {
  z-index: 100;
  height: autos;
  padding-left: 2vw;
  padding-top: 8vh;
  padding-bottom: 2vh;
  transition: width 0.5s;
  width: calc(100vw - 6px);
  color: #1DA4EF;
  /* height: 100vh; */
  overflow-y: scroll;
}




/* ====================================================================== */

.App-Fallback {
  font-family: 'Inter UI', sans-serif;
  padding: 0;
  max-width: 100%;
  margin: 0;
  box-shadow: none;
  font-weight: 400;
  overflow-x: hidden;
  background: #000;
  box-sizing: border-box;
}

.App-Fallback > header {

  color: gold;

}

.App-Fallback > section.details > * {
  color: green;
}


.App-Fallback > section.choices > * {
  color: yellow;
}
