body {
  background: rgba(0,0,0,0.5);
}

.App {
  font-family: 'Inter UI', sans-serif;
  font-size: 10rem;
  padding: 0;
  max-width: 100%;
  margin: 0;
  box-shadow: none;
  color: white;
}

header {
  font-size: 15rem;
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  width: 100vw;
  top: 5vh;
  z-index: 101;
}

section {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.left {
  height: 100vh;
  padding-top: 25vh;
  left: 0;
  border-right: 1px solid #fff;
  width: 50%;
  margin: auto;
}

.right {
  height: 100vh;
  padding-top: 25vh;
  border-left: 1px solid #fff;
  width: 50%;
  margin: auto;
}

.left-focused {
  z-index: 100;
  padding-top: 25vh;
  border: none;
  background: rgba(0,0,0,0.2);
  transition: width 0.5s;
  width: calc(75% - 6px);
  color: #000;
}

.right-focused {
  z-index: 100;
  padding-top: 25vh;
  border: none;
  background: rgba(0,0,0,0.2);
  transition: width 0.5s;
  width: calc(75% - 6px);
  color: #000;
}
