
button.tweet {
  width: 20vw;
  vertical-align: baseline;
  font-size: inherit;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 20px;
  color: #1DA4EF;
  border: 2px solid #1DA4EF;
  background: #fff;
}

button.tweet:hover {
  background-color: #1DA4EF;
  color: #fff;
  cursor: pointer;
}
